<!DOCTYPE html>
<html>
<head>
    <title>Manufacture.Ninja</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/login.css"/>
</head>

<body>
	<div class="load"></div>
    <div class="login-base">
        <div class="login-header">
            <span>Manufacture.Ninja</span>
        </div>

        <div class="login-body">
            <form id="login" class="form-container">
                    <div class="form-group">
                        <label>Email</label>
			<input id="email" type="text" class="form-control" placeholder="Email"/>
                    </div>

                            <div class="form-group">
                                <label>Password</label>
				<input id="password" type="password" class="form-control" placeholder="Password"/>
                            </div>

                            <div class="form-group">
                            </div>

                            <button type="submit" class="btn btn-default pull-right">Log In</button>
            </div>            
        </div>

    </div>
                    
 	<script type="text/javascript" src="/js/lib/jquery-2.2.3.min.js"></script>   
	<script type="text/javascript" src="/js/app/login.js"></script>
</body>


</html>
